export (
	cepa.all,
	cepa.all.parallel,
	cepa.ora.all,
	cepa.univariate.all,
	cepa,
	cepa.ora,
	cepa.univariate,
	generate.pathway,
	get.cepa,
	p.table,
	pathway.nodes,
	plot.cepa.all,
	print.cepa.all,
	plot.cepa,
	print.cepa,
	plotGraph,
	plotNull,
	reach,
	report,
	spread,
	radiality,
	set.pathway.catalogue,
	print.pathway.catalogue,
	plot.pathway.catalogue,
	sampleLabel,
	read.cls,
	read.gct
)
